.title_mainTop { position: relative; display: flex; flex-direction: row; align-items: flex-end; width: 100%; margin-top: 30px; } 
.title_leftNav { width: 25%; text-align: center; }
.title_center { width: 50%; text-align: center; }
.title_center span { color: #fff; font-size: 60px; }
.title_rightNav { width: 25%; }
.title_rightNav li { float: left; list-style: none;}
.title_rightNav li span { color: #fcfcfc; padding-right: 12px; }
.title_rightNav li a:link { color: #191919; text-decoration: none; }
.title_rightNav li a:visited { color: #191919; text-decoration: none; }
.title_rightNav li a:hover { color: black; text-decoration: underline; }
.rightNav_profile { }

.btn_basic { min-width: 100px; min-height: 30px; width: auto; border-radius: 10px; background-color: rgb(75 137 220); color: #fff; border: none; cursor: pointer; }