.content_mainBox { position: relative; margin: 0 auto; margin-top: 30px; margin-bottom: 100px; padding: 30px; width: 70%; min-height:600px; background-color: #fff; border-radius: 5px; text-align: center; }

.content_tableArea02 table { width: 90%; border-collapse: collapse; }
.content_mainTable02 { width: 100%; }
.content_mainTable02 input { width: 95%; min-height: 25px; overflow-y: auto; align-items: flex-start; font-size: 16px; padding: 5px;}

.content_mainCont { margin-top: 30px; min-height: 300px; }
.content_mainCont textarea { width: 82%; min-height: 500px; margin-bottom: 70px; padding: 20px; height: 500px; font-size: 14px; resize: none; }
